
#container {
  justify-content: space-around;
  overflow: hidden;
  margin-bottom: 23px;
  margin-left: 25px;
  margin-right: 25px;
}


#submission {
  text-align: center;
  padding-left: 300px;
  padding-right: 300px;
}

#submission button {
  margin: auto;
  font-size: 25px;
  line-height: 2;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 4px;
  margin-top: 66px;
}
#time {
  font-size: 65px;
}
p[name=question] {
  font-size: 38px;
}

.wrapper {
  overflow-y: scroll;
}

.new-attempts {
  text-align: center;
}
.new-attempts dl {
  font-size: 24px;
  font-weight: 700;
}

.old-attempts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.old-attempts div {
  background: white;
  border: 3px solid;
  border-radius: 4px;
  margin-bottom: 16px;
  text-align: center;
  width: 200px;
  padding: 15px 30px;

  position: relative;
}
.old-attempts div dl:first-child {
  font-size: 24px;
  font-weight: 700;
}

.old-attempts div button[name=delete] {
  top: 0px;
  color: rgb(151, 35, 31);
  position: absolute;
  left: 6px;
  font-size: 30px;
  background-color: inherit;
}
