
#username {
  margin-top: 21vh;
  text-align: center;
  letter-spacing: 4px;
}

#username p {
  margin: auto;
  font-size: 37px;
  color: rgb(255, 255, 255);
  line-height: 2.6px;
  padding-left: 30px;
  padding-right: 30px;
}
#username p:after {
  content: '';
  display: block;
  margin: auto;
  padding-bottom: 52px;
  border-bottom: 5px solid rgb(129, 4, 4);
  width: 34%;
}
.timer {
  text-align: center;
}
.timer p {
  margin-top: 80px;
}
.timer button {
  width: 187px;
  padding: 19px 10px;
  margin-top: 63px;
  margin-left: 20px;
  margin-right: 20px;
  border: 2.2px solid black;
  border-radius: 2px;
  box-shadow: 2px 10px rgb(0, 0, 0);
}
