
#username {
  margin-top: 15vh;
  text-align: center;
  letter-spacing: 4px;
}
#username p {
  margin: auto;
  font-size: 27px;
  color: rgb(255, 255, 255);
  padding-left: 30px;
  padding-right: 30px;
}
#username p:after {
  content: '';
  display: block;
  margin: auto;
  padding-bottom: 52px;
  border-bottom: 5px solid rgb(129, 4, 4);
  width: 34%;
}
.timer {
  text-align: center;
  padding: 0px 26px;
}
.timer p {
  margin-top: 80px;
  margin-bottom: 63px;
}
.timer button {
  font-size: 14px;
  width: 187px;
  padding: 19px 10px;
  margin: 0px 20px 40px;
  border: 2.2px solid black;
  border-radius: 2px;
  box-shadow: 2px 10px rgb(0, 0, 0);
  opacity: .8;
}
.timer button:hover {
  opacity: 1;
}
.timer button:focus {
  opacity: 1;
  box-shadow: 2px 10px rgb(255, 235, 59);
}
.overfill {
  overflow: auto;
}
