@media screen and (min-width: 600px) and (max-width: 1024px) {
  #container {
    height: 65vh;
    margin-top: 33px;
  }
  #title {
    font-size: 67px;
  }
  #submission {
    width: 25%;
    margin-left: 4%;
  }
  #submission form {
    padding: 0px 13px 0px;
  }
  #submission input[type=submit] {
    font-size: 14px;
    padding: 12px 0px;
  }
  #submission input[type=text] {
    margin: 56px 0px 30px;
  }
  #submission button {
    font-size: 12px;
    line-height: 3.4;
    border-radius: 1px;
    width: 127px;
    margin: auto;
    margin-top: 41px;
  }
  .old-attempts {
    margin-left: 0;
  }
  .old-attempts div {
    width: 150px;
    max-height: 200px;
    padding: 10px 20px;
  }
  .old-attempts div dl:first-child, strong {
    font-size: 17px;
  }
  .old-attempts div dl {
    font-size: 11px;
  }
  .old-attempts button[name=try-again] {
    padding: 7px;
  }
  p[name=question] {
    margin-bottom: 23px;
  }
}

/* 
@media screen and (min-width: 1024px) {
  #container {
    height: 68vh;
    margin-top: 33px;
  }
  #title {
    font-size: 67px;
  }
  #submission {
    width: 25%;
    margin-left: 4%;
  }
  #submission form {
    padding: 0px 13px 0px;
  }
  #submission input[type=submit] {
    font-size: 14px;
    padding: 12px 0px;
  }
  #submission input[type=text] {
    margin: 56px 0px 30px;
  }
  #submission button {
    font-size: 12px;
    line-height: 3.4;
    border-radius: 1px;
    width: 127px;
    margin: auto;
    margin-top: 41px;
  }
  .old-attempts {
    margin-left: 0;
  }
  .old-attempts div {
    width: 150px;
    max-height: 200px;
    padding: 10px 20px;
  }
  .old-attempts div dl:first-child, strong {
    font-size: 17px;
  }
  .old-attempts div dl {
    font-size: 11px;
  }
  .old-attempts button[name=try-again] {
    padding: 7px;
  }
  p[name=question] {
    margin-bottom: 23px;
  }
} */
