
@media screen and (max-width: 681px) {
  #container {
    justify-content: center;
    flex-wrap: wrap;
  }
  #submission {
    margin-top: 28px;
    margin-right: 0;
  }
  .old-attempts {
    margin-top: 30px;
    width: 412px;
    height: 500px;
  }
}
