body {
  margin: 0;
}

h2 {
  padding-top: 30px;
  text-align: center;
  margin: auto;
}


form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

form input[type=text] {
  align-items: center;
}
