body {
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 3px;
}

h2 {
  font-size: 35px;
  color: rgb(241, 63,72);
  margin: 0;
  text-align: center;
  padding-top: 30vh;
  margin-bottom: 20px;
}


form {
  width: 400px;
  padding: 20px 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  border: 3px solid;
  border-color: rgb(241, 63,72);
  border-radius: 4px;
}

form input[type=text] {
  padding: 10px 20px;
  margin: 0;
  margin-bottom: 10px;
  font-size: 20px;
  color: red;
  border: 1px solid;
  border-color: rgb(241, 63,72);
  border-radius: 3px;
}

form input[type=submit] {
  padding: 10px;
  background-color: rgb(241, 63,72);
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}
